{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'website/main.css' %}">
    {% block links %}{% endblock %}
    {% if title %}
    <title>Colin J Miller - {{title}}</title>
    {% else %}
    <title>Colin J Miller </title>
    {% endif %}
</head>
<body>
    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="{% url 'website-home' %}">Home</a></li>
                <li><a href="{% url 'website-resume' %}">Resume</a></li>
                <li><a href="{% url 'website-contact' %}">Contact</a></li>
                <li><a href="{% url 'website-calculator' %}">Calculator</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}

        <aside id="sidebar">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis
            </p>

        </aside>
    </div>
    <footer id="main-footer">
        <p>copyright &copy; 2020 Colin Miller</p>
    </footer>

</body>
</html>
